# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/

# production
build/

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# foundry build artifacts
contracts/out/
contracts/cache/

# misc
.DS_Store
*.pem
*.log*
contracts/broadcast/
